.box1{
    width: 100px;
    height: 120px;
    border: 1px solid #CC99FF;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: chartreuse;
    float: left;

}
.box2{
    width: 100px;
    height: 150px;
    border: 1px solid #CCFFFF;
    padding-top: 10px;
    background-color: crimson;
    float: left;
}
.box3{
    width: 400px;
    height: 400px;
    border: 1px solid #CC99FF;
    background-color: #CC99FF;
    clear: left;
}